<a href="https://colab.research.google.com/github/aakashak2000/NLP_sem6/blob/master/homework_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [2]:
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
df['reviewText_count'] = df.reviewText
df['summary_count'] = df.summary

In [0]:
def word_occurences(string):
    count=dict()
    words=string.split()
    for word in words:
      if word in count:
        count[word]+=1
      else:
        count[word]=1
    return count

df['reviewText_wordcount']=df['reviewText'].apply(word_occurences)
df['summary_wordcount']=df['summary'].apply(word_occurences)

In [5]:
df.head()

       reviewerID  ...                                  summary_wordcount
0  A32T2H8150OJLU  ...  {'A': 1, 'solid': 1, 'performer,': 1, 'and': 1...
1  A3MAFS04ZABRGO  ...  {'Price': 1, 'of': 1, 'GOLD': 1, 'is': 1, 'up,...
2  A1F1A0QQP2XVH5  ...  {'Good': 1, 'functionality,': 1, 'but': 1, 'no...
3   A49R5DBXXQDE5  ...  {'One': 1, 'of': 2, 'the': 1, 'last': 1, 'an':...
4  A2XRMQA6PJ5ZJ8  ...                  {'Still': 1, 'the': 1, 'best': 1}

[5 rows x 13 columns]

In [0]:
def letters(string):
    vowels = 0
    consonants = 0
    words = string.count(' ') + 1
    for i in range(0, len(string)):  
            ch = string[i]  
            ch = ch.lower()
            if ((ch >= 'a' and ch <= 'z') or (ch >= 'A' and ch <= 'Z')):
             if (ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u'): 
                vowels += 1
             elif (ch != 'a' or ch != 'e' or ch != 'i' or ch != 'o' or ch != 'u'): 
                consonants += 1
          
    count = {'vowels': vowels, 'consonants': consonants, 'words': words}
    return count

In [0]:
df["reviewText_letter_count"] = df.reviewText.apply(letters)
df["summary_letter_count"] = df.summary.apply(letters)

In [8]:
df

           reviewerID  ...                           summary_letter_count
0      A32T2H8150OJLU  ...   {'vowels': 12, 'consonants': 20, 'words': 7}
1      A3MAFS04ZABRGO  ...  {'vowels': 14, 'consonants': 31, 'words': 13}
2      A1F1A0QQP2XVH5  ...   {'vowels': 15, 'consonants': 25, 'words': 8}
3       A49R5DBXXQDE5  ...   {'vowels': 14, 'consonants': 22, 'words': 9}
4      A2XRMQA6PJ5ZJ8  ...     {'vowels': 3, 'consonants': 9, 'words': 3}
...               ...  ...                                            ...
53253  A1ODOGXEYECQQ8  ...   {'vowels': 10, 'consonants': 14, 'words': 6}
53254  A2XX2A4OJCDNLZ  ...  {'vowels': 32, 'consonants': 52, 'words': 17}
53255  A3LGT6UZL99IW1  ...   {'vowels': 17, 'consonants': 28, 'words': 5}
53256  A1XJOSJN6FHFO0  ...    {'vowels': 8, 'consonants': 11, 'words': 4}
53257   AAEVGE52KL0DJ  ...   {'vowels': 13, 'consonants': 15, 'words': 7}

[53258 rows x 15 columns]

In [0]:
import re

In [10]:
?regex

Object `regex` not found.

In [0]:
def BG(string):
    string = re.sub('[^a-zA-Z]',' ', string) #removes punctuations
    list1 = re.findall(r"\bw+[Gg]\b", string) #finding letters ending with g/G
    list2 = re.findall(r"\b[Bb]\w+", string) #finding letters starting with b/B
    return (list(set().union(list1, list2)))

In [12]:
BG('bass and treble of a song') #example

['bass']

In [0]:
df["reviewText_BG"] = df.reviewText.apply(BG)
df["summary_BG"] = df.summary.apply(BG)

In [14]:
df.head()

       reviewerID  ... summary_BG
0  A32T2H8150OJLU  ...         []
1  A3MAFS04ZABRGO  ...     [bury]
2  A1F1A0QQP2XVH5  ...      [but]
3   A49R5DBXXQDE5  ...         []
4  A2XRMQA6PJ5ZJ8  ...     [best]

[5 rows x 17 columns]

In [0]:
def not_BG(string):
    string = re.sub('[^a-zA-Z]',' ', string) #removes punctuations
    list1 = re.findall(r"\b(?![bB])\w+", string) #finding words not ending with g/G and words not starting with b/B
    list2 = re.findall(r"\b\w+(?<![gG])\b", string) #finding words not ending with g/G and words not starting with b/B
    return (list(set(list1).intersection(list2)))

In [16]:
not_BG('bass and treble of a song') #example

['a', 'and', 'of', 'treble']

In [0]:
df["reviewText_not_BG"] = df.reviewText.apply(not_BG)
df["summary_not_BG"] = df.summary.apply(not_BG)

In [18]:
df.head()

       reviewerID  ...                                     summary_not_BG
0  A32T2H8150OJLU  ...           [A, performer, time, friend, solid, and]
1  A3MAFS04ZABRGO  ...  [don, is, so, c, t, the, flagship, of, golden,...
2  A1F1A0QQP2XVH5  ...  [like, functionality, old, HPs, not, Good, dur...
3   A49R5DBXXQDE5  ...  [extinct, last, almost, the, One, of, species,...
4  A2XRMQA6PJ5ZJ8  ...                                       [Still, the]

[5 rows x 19 columns]